*{box-sizing: border-box;}

body{
    /* font-family: Arial, Helvetica, sans-serif; 
    font-size: 15px;
    line-height: 1.5; 

    border:2px solid tomato;*/

    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: #f4f4f4;
}

/* Global */
.container{
    width: 80%;
    margin: auto;
    overflow:hidden;
}

.button_1{
    border:none;
    height:30px;
    padding-left: 20px;
    padding-right: 20px;
    color:#ffffff;
    background:#ee1a12;
}

.dark{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background:#232b30 ;
    color: #ffffff;
}

/* Header */
header{
    background:#232b30;
    color:#ffff;
    min-height: 70px;
    border-bottom:3px solid rgb(129, 24, 6);
}

header a{
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul{
    list-style-type: none;
    margin:0px;
    padding: 0px;
}

header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
}

#branding{
    float:left;
    margin:0;  /* sameThing  header #branding h1{ margin:0;} */
}

nav{
    float:right;
    margin-top: 30px;
}

header .highlight, header .current {
    color:#ac140f;
    font-weight:bold;
}

header a:hover{
    color:#cccccc;
}

/* showcase */
#showcase{
    min-height: 400px;
    background:url('bg1.jpg') no-repeat 0 -500px;
    text-align:center;
    color:#ffffff;
}

#showcase h1{
    margin-top: 100px;
    margin-bottom: 15px;
    font-size:55px
}

#showcase p{
    font-size:20px;
}


/* Newsletter */
#newsletter{
    padding:15px;
    background-color: #232b30;
    color:#ffffff;
}

#newsletter h1{
    float:left;
}

#newsletter form{
    float:right;
    margin-top:20px;
}

#newsletter input[type="email"]{
    width:240px;
    padding:10px;
    height:30px;
}

/* Boxes */
#boxes{
    margin-top:20px;
}

#boxes .box{
    float:left;
    width:30%;
    padding:10px;
    text-align:center;
}

/* #boxes .box img{
    width:px;
} -Not uing */

/* About Us -Sidebar */
aside#sidebar{
    float:right;
    width:30%;
    font-style: italic;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
    width:90%;
    padding:10px;
    height:40px;
}

/* Main-gro */
article#main-gro{
    float:left;
    width:65%;
}

/* Services */
ul#services li{
    list-style-type: none;
    border:1px splid #5a5a5a;
    background: #e6e6e6;
    padding:20px;
    margin-bottom: 10px;
}

/* footer */
footer{
    background:#ac140f;
    margin-top:20px;
    padding:20px;
    text-align:center;
    color:#ffffff;
}



/* Media Queries */
@media(max-width:768px){
    header #branding, header nav, header nav li,
    #newsletter h1, #newsletter form,
    #boxes .box,
    article#main-gro,
    aside#sidebar{
        float:none;
        text-align:center;
        width:100%;
    }

    header{
        padding-bottom:20px;
    }

    #showcase h1{
        margin-top:20px;
    }

    #newsletter button{
        display:block;
        width:100%;
    }

    #newsletter form input[type="email"],{
        width:100%;
        margin-bottom:5px;
    }
}